@import '../../assets/styles/variables';

h1.hero-title {
    font-size: 5rem;
}

p.hero-subtitle {
    font-size: 1.5rem;
}

.gradient-background {
    background: linear-gradient(to bottom, $secondary-color, #fff);
}

.thumbnail {
    border: 1px solid $secondary-color;
}

@media (max-width: 767.98px) {
    h1.hero-title {
        font-size:3rem;
    }

    p.hero-subtitle {
        font-size: 1.25rem;
    }
}