@import '../../assets/styles/variables';

.navbar-brand img {
    width: 90px;
}

nav .nav-link {
    color: $text-color;

    &.active {
        text-decoration: underline;
    }
}

@media (max-width: 991.98px) {
    .navbar-brand img {
        width: 70px;
    }
}