@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&family=Lexend+Deca:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap');

@import '../../assets/styles/variables';

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $text-color;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

h1,
h2,
h3 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: $text-color;
}

.text-mauve {
    color: $primary-color;
}

.text-muted {
    color: $muted-color !important;
}

.border-secondary {
    border-color: $secondary-color !important;
}

.btn {
    border-radius: 2rem;
    padding: .5rem 1rem;
}

.btn-primary {
    border: 2px solid $primary-color;
    background-color: transparent;
    color: #6b607d;
    color: #6E5773;

    &:hover,
    &:active {
        border: 2px solid $primary-color !important;
        background-color: $primary-color !important;
        color: $white;
    }
}

.btn-secondary {
    border: 2px solid $secondary-color;
    background-color: $white;
    color: #a99074;

    &:hover {
        border: 2px solid $secondary-color;
        background-color: #dfcfb4;
        color: inherit;
    }
}


